body {
    font-family: Arial, Helvetica, sans-serif;
}

body header nav ul li {
    display: inline-block;
    height: 70px;
    text-align: center;
}

body header nav ul li:hover {
    background-color: white;
    color: navy;
}

body header {
    display: inline-block;
    width: 100%;
}

body header img {
    float: left;
    height: 70px;
    margin-right: 35em;
}

body header nav ul li button {
    color: white;
    background-color: navy;
    text-decoration: none;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    height: 70px;
    text-align: center;
}

body header {
    background-color: navy;
}

body main~div {
    background-color: white;
    width: 100%;
    position: absolute;
    top: 70px;
    display: none;
    box-sizing: border-box;
}

div section h1 {
    color: navy;
    margin-top: 10px;
    margin-left: 1em;
    text-decoration: underline navy;
}

div section button article h4 {
    color: purple;
}

body header~div button {
    text-decoration: none;
    border: none;
    background-color: white;
    text-align: left;
    margin-left: 2em;
    margin-top: 10px;
    width: 25%;
    float: left;
}

button:hover {
    cursor: pointer;
    text-decoration: underline;
}

main {
    height: 700px;
}

.main-container {
    height: 100%;
    background: url("../images/main.jpg");
    background-size: cover;
}

.search {
    display: inline-block;
    width: 80%;
    height: 50%;
    margin: 50px 0 0 150px;
    border-radius: 1em;
    background: rgba(160, 160, 160, 0.90);
}

.buttons {
    height: 20%;
    width: 40%;
    background-color: #4B87EE;
    border-radius: 1em;
    margin: 20px;
    opacity: 1;
    box-sizing: border-box;
}

.buttons>button {
    float: left;
    width: 30%;
    height: 80%;
    margin: 0.5em 0 0 0.5em;
    border-radius: 1em;
    background-color: #A0A0A0;
}

.add {
    display: inline-block;
    background-color: #E83856;
    text-align: left;
    opacity: 0.9;
    margin: 50px 0 0 150px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 1em;
}

footer {
    background-color: rgb(242, 242, 242);
    width: 100%;
    display: inline-block;
}

footer article {
    width: 20%;
    float: left;
    margin-top: 1em;
    margin-left: 3em;
}

footer article h4 {
    color: black;
    font-weight: bold;
    padding: 5px;
}

footer article ul {
    list-style: none;
}

footer article ul li {
    padding: 5px;
}

footer article ul li a {
    color: purple;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

a {
    text-decoration: none;
}

footer h4~a {
    float: left;
}

footer a img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}