body header nav ul li {
    display: inline-block;
    height: 70px;
    text-align: center;
}

body header nav ul li:hover {
    background-color: white;
    color: navy;
}

body header {
    display: inline-block;
    width: 100%;
}

body header img {
    float: left;
    height: 70px;
    margin-right: 35em;
}

body header nav ul li button {
    color: white;
    background-color: navy;
    text-decoration: none;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    height: 70px;
    text-align: center;
}

body header {
    background-color: navy;
}

body header~div {
    background-color: white;
    width: 100%;
    display: none;
}

div section h1 {
    color: navy;
    margin-top: 10px;
    margin-left: 1em;
    text-decoration: underline navy;
}

h4 {
    color: purple;
}

body header~div button {
    text-decoration: none;
    border: none;
    background-color: white;
    text-align: left;
    margin-left: 2em;
    margin-top: 10px;
    width: 25%;
    float: left;
}

button:hover {
    cursor: pointer;
    text-decoration: underline;
}